<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" / <script defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all/js">
    <title>Weather app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap" rel="stylesheet">
    <style type="text/css">
      body{
        margin :0;
        padding:0;
        background-image: url('https://i.pinimg.com/originals/20/e1/1c/20e11cea9fcc9a9fb5c07efd72afaae9.gif');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      
      }
      h2{
        display: block;
        margin:auto;
        text-align: center;
        font-family: 'Ubuntu';
        font-size: 1.5rem;

      }
      h3{
        text-align: center;
        height:30px;
        padding: 5px auto;
        font-family: 'Montserrat';
        color: #5C5470;
      }
      h1{
        text-align: center;
        height:30px;
        padding: 15px;
        font-family: 'Montserrat';
        font-size: 1.5rem;
      }
      .container{
       
        text-align: center;

      }
      h4{
        margin:auto;
        text-align: center;
        font-family: 'Ubuntu';

      }
      button[type="submit"] {
        background-color: #0056b3; 
        color: #fff; 
        border: 2px solid #556a6c; 
        border-radius: 5px; 
        padding: 10px 20px; 
        font-size: 16px;
        margin-top: 30px;
        }

        /* Style the button on hover */
        button[type="submit"]:hover {
          background-color: #d5dbe1; 
          border-color: #0056b3;
          color: #000;
        }
        form{
          text-align: center;
          padding: 0;
          margin: 0;
        }
    </style>
  </head>
  <body>
    <form id="refreshForm">
        <div class="container">
            <h2><%= cityName %></h2>
            <h1>temperature : <%= tempAppeare %></h1>
            <h3>temperature Feel : <%= tempFeels %></h3>
            <h4><%= description %></h4>
        </div>
        <button type="submit">Refresh</button>
    </form>
</body>
  
</html>
